section#about-us.section.section_yellow
    .section__layout.container
        header.section__header
            h2.section__title.title-h1
                | Благодійний фонд “Життя”
            .section__content
                .row
                    .section__column.col-lg-6
                        p.paragraph
                          | З 2017 року наш фонд допомагає тваринкам, які потрапили у біду – залишились безпритульними, потребують медичного втручання або простої людської теплоти. Ми їх годуємо, лікуємо, обігріваємо та знаходимо новий дім.
                          br
                          | Місія Черкаського обласного благодійного фонду «ЖИТТЯ» - це захист найвищої цінності у світі – ЖИТТЯ!
                          br
                          | ЩОДНЯ у нас з’являється щонайменше одна нова тваринка, яка потребує допомоги.
                          br
                          | ЩОМІСЯЦЯ ми знаходимо нову домівку більш ніж 20 підопічним тваринкам.
                          br
                          | Ваша допомога фонду – це можливість для безпритульних котиків та собачок бути нагодованими та здоровими.
                          br
                          | Ваша допомога - це шанс для тваринок на нове життя!


                    .section__column.slider
                        .slider__items
                            .slider__item.slider__item_prev
                                img.slider__image(src="../images/documents-slider/document3.jpg")
                                a.slider__link(href="pdf/document3.pdf" target="_blank")
                            .slider__item.slider__item_current
                                img.slider__image(src="../images/documents-slider/document1.jpg")
                                a.slider__link(href="pdf/document1.pdf" target="_blank")
                            .slider__item.slider__item_next
                                img.slider__image(src="../images/documents-slider/document2.jpg")
                                a.slider__link(href="pdf/document2.pdf" target="_blank")

                #contacts.row
                    .contacts
                        h3.contacts__title.title-h2 Контакти
                        ul.contacts__list
                            li.contacts__item
                                img.contacts__image(src="../images/icons/phone.svg")
                                a.contacts__link(href="tel:+380984828979") +380984828979
                            li.contacts__item
                                img.contacts__image(src="../images/icons/facebook.svg")
                                a.contacts__link(href="https://www.facebook.com/CharityFundLife/" target="_blank") Ми на Facebook
                            li.contacts__item
                                img.contacts__image(src="../images/icons/instagram.svg")
                                a.contacts__link(href="https://www.instagram.com/charityfundlife/" target="_blank") Ми в Instagram

