header.header.header_scrolled.js-header
    .header__layout.container
        .header__logo-wrapper
            a(href="/")
                img(src="images/logo.svg").header__logo
        ul.header__menu.menu
            li.menu__item
                a.menu__link(href='index.html#intro')
                    | Головна
            li.menu__item
                a.menu__link(href='index.html#donation')
                    | Допомогти
            li.menu__item
                a.menu__link(href='index.html#partners')
                    | Партнери
            li.menu__item
                a.menu__link(href='index.html#about-us')
                    | Про нас
            li.menu__item
                a.menu__link(href='index.html#contacts')
                    | Контакти
        .burger-menu.js-mobile-menu-trigger
          span
          span
          span
          span

        ul.mobile-menu.js-mobile-menu
            li.mobile-menu__item
                a.mobile-menu__link(href='index.html#intro')
                    | Головна
            li.mobile-menu__item
                a.mobile-menu__link(href='index.html#donation')
                    | Допомогти
            li.mobile-menu__item
                a.mobile-menu__link(href='index.html#partners')
                    | Партнери
            li.mobile-menu__item
                a.mobile-menu__link(href='index.html#about-us')
                    | Про нас
            li.mobile-menu__item
                a.mobile-menu__link(href='index.html#contacts')
                    | Контакти


