section.intro#intro
    .intro__layout.container
        .intro__head
            h1.intro__title.title-h1
                | Допомагати тваринам - це круто. Долучайся
            p.intro__subtitle.subtitle
                | 10 000 людей вже допомагають
            a(href="#donation").intro__button.button
                | Допомогти
