section.intro-mobile#intro
    .intro-mobile__layout.container
        .intro-mobile__head
            h1.intro-mobile__title.title-h1
                | Допомагати тваринам - це круто. Долучайся
            p.intro-mobile__subtitle.subtitle
                | 10 000 людей вже допомагають
            a(href="#donation").intro-mobile__button.button
                | Допомогти
