section.thanks
    .thanks__layout.container
        .thanks__image-wrapper
            picture
              source(srcset='./images/thanks-bg-mobile.jpg' media='(max-width: 768px)')
              source(srcset='./images/thanks-bg.jpg')
              img(srcset='./images/thanks-bg.jpg' alt='Thank you').thanks__image
        .thanks__body
          h1.thanks__title Дякуємо, що допомагаєте!
          a(href="/").button.thanks__button На головну


