@import "../base/vars";

.thanks {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  &__layout {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-image: radial-gradient(var(--gradient-yellow));
  }

  &__image-wrapper {
    @media (max-width: $sm) {
      padding: 16px;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 60px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.25;

    @media (max-width: $sm) {
      font-size: 40px;
    }
  }

  &__button {
    margin-top: 40px;

    @media (max-width: $sm) {
      width: 100%;
    }
  }
}