doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title Допомога безпритульним тваринам м. Черкаси та область - фонд «Life. Життя»
    link(rel='stylesheet' href='css/main.css')
    meta(name='description' content='У вас є можливість врятувати чиєсь життя: взяти котика чи песика з притулку, стати волонтером, допомогти коштами на корм, ліки чи вакцинацію')
    meta(property='og:title' content='title Допомога безпритульним тваринам м. Черкаси та область - фонд «Life. Життя»')
    meta(property='og:description' content='У вас є можливість врятувати чиєсь життя: взяти котика чи песика з притулку, стати волонтером, допомогти коштами на корм, ліки чи вакцинацію')
    link(rel='icon' href='/favicon.ico')
    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    meta(name='theme-color' content='#FFFFFF')
body
    include partials/header
    include partials/intro
    include partials/intro-mobile
    include partials/donation
    include partials/partners
    include partials/about-us
    include partials/footer
script(src='js/main.min.js' type='module')


