doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title Умови та угоди користувача
    link(rel='stylesheet' href='css/main.css')
    link(rel='icon' href='/favicon.ico')
    link(rel='icon' href='/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    meta(name='theme-color' content='#FFFFFF')
body
    include partials/header
    section.section
        .section__layout.section__layout_lg.container
            h2.section__title.title-h1
              | УМОВИ ТА УГОДИ КОРИСТУВАЧА
            .section__content
                p.paragraph БО БФ Життя проводить постійний збір коштів для довготривалоі підтримки підшефних котів і собак, що потрапили у скрутні умови.
                p.paragraph В разі надання платником пожертвування, благодійник погоджується, що зібрані кошти можуть бути перерозподілені на купівлю товарів та послуг для утримання та лікування тварин.
                p.paragraph Переказуючи кошти платник погоджується на те, що сума пожертвування не підлягає поверненню (благодійність).
                p.paragraph Із всією звітністю можна ознайомитись на сторінці фонду у соціальній мережі:&nbsp;
                    a(href="https://www.facebook.com/CharityFundLife/" target="_blank") https://www.facebook.com/CharityFundLife/


script(src='js/main.min.js' type='module')
