doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title Дякуємо, що допомагаєте!
    link(rel='stylesheet' href='css/thanks.css')
    link(rel='icon' href='/favicon.ico')
    link(rel='icon' href='/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    meta(name='theme-color' content='#FFFFFF')
body
    include partials/header
    include partials/thanks

script(src='js/main.min.js' type='module')
